<p id="notice"><%= notice %></p>

<h1>Listing Bandas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bandas.each do |banda| %>
      <tr>
        <td><%= banda.nome %></td>
        <td><%= banda.categoria %></td>
        <td><%= link_to 'Show', banda, class: "btn btn-default", role: "button" %></td>
        <td><%= link_to 'Edit', edit_banda_path(banda), class: "btn btn-default", role: "button" %></td>
        <td><%= link_to 'Destroy', banda, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red", role: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banda', new_banda_path, class: "btn btn-default", role: "button" %>
