<!DOCTYPE html>
<html>
<head>
  <title>Netshow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <nav>
    <ul>
      <li class="<%= current_page?(shows_path) ? 'active' : '' %>"><%= link_to "Shows", shows_path %></li>
      <li class="<%= current_page?(bandas_path) ? 'active' : '' %>"><%= link_to "Bandas", bandas_path %></li>
    </ul>
  </nav>

<%= yield %>
</div>

</body>
</html>
